GHCR_OWNER=plamenmitkov

API_IMAGE_TAG=latest
CLIENT_IMAGE_TAG=latest

MSSQL_SA_PASSWORD=ChangeThisToAStrongPassword_123!
DB_NAME=EcoTrailsDb

JWT_ISSUER=EcoTrails.Api
JWT_AUDIENCE=EcoTrails.Client
JWT_KEY=ReplaceWithAtLeast32CharactersSecretKey

CORS_ORIGIN_0=https://eco.example.com
CORS_ORIGIN_1=

APP_OPENROUTESERVICE_API_KEY=
APP_OPENAI_API_KEY=
APP_GEMINI_API_KEY=

OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_PROTOCOL=grpc

ADMIN_EMAIL_0=
ADMIN_EMAIL_1=

API_PORT=5218
CLIENT_PORT=5173